@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
    var fecha = DateTime.Now;
}

<div class="text-center">
    <h2>@fecha.ToString("D")</h2>
    <h1 class="display-4">¡Bienvenido!</h1>

    @if (!string.IsNullOrEmpty(Model.Usuario))
    {
        <p>Hola, <strong>@Model.Usuario</strong>. Gracias por iniciar sesión.</p>
        <a asp-page="/Libros" class="btn btn-primary">Ir a la Biblioteca</a>
        <a asp-page="/SesionCerrar" class="btn btn-danger">Cerrar sesión</a>
    }
    else
    {
        <p>Estás por entrar a explorar la biblioteca. ¿Te gustaría iniciar sesión?</p>
        <a asp-page="/Login" class="btn btn-success">Iniciar sesión</a>
    }
</div>